*~
*.o
*.tar.xz
.deps
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/data/org.freedesktop.Telepathy.ConnectionManager.gadugadu.service
/src/telepathy-gadugadu
Makefile
Makefile.in